
*.db
*.db-shm
*.db-wal
*.opendb
*.ipch
.vs/RDR3PoolExtender/v16/.suo
*.obj
*.recipe
*.log
*.pch
*.tlog
*.dll
*.iobj
*.ipdb
*.pdb
RDR3PoolExtender/x64/Release/RDR3PoolExtender.vcxproj.FileListAbsolute.txt
.vs/RagePoolExtender/v16/.suo
*.txt
